<p style="color: green"><%= notice %></p>

<h1>Budgets</h1>


<div class="container bg-secondary m-3 p-3" >
<div class="d-flex justify-content-between p-2">
    <h3 class=' self-center text-2xl'>Total: </h3>
    <h3 class='self-end text-lg'> <%=@total_amount%></h3>
</div>
</div>





<div class="container bg-light m-3 p-3" >
<% @budgets.each do |budget| %>  
<div class="d-flex justify-content-between p-2">
    <h3> <%= budget.name %> </h3>
    <h3> <%= budget.amount %></h3>
</div>
<% end %>
</div>
