<p style="color: green"><%= notice %></p>


    <div class="container bg-light" >
      <div class="d-flex justify-content-between p-2">
          <h3> <%= @group.name %> </h3>
          <h3> <%= @group.total_price %> </h3>
      </div>
    </div>



    <div id="transactions">
    <% if @group.budgets.count > 0 %>
      <%= render "transactions", transactions: @group.transactions_list, group: @group %>
    <% else %>
      <p> Your transaction list is empty. </p>
    <% end %>
  </div>



