<nav class="navbar fixed-bottom navbar-dark bg-success">
  <p></p>

  <% if @btnname == "Add New Category"  %>
    <%= link_to @btnname, new_group_path, class:"navbar-brand" %>
  <% end %>

  <p></p>
</nav>