<nav class="navbar fixed-top navbar-dark bg-primary">
  <% if @backbtn == 'back' %>
    <%= link_to "", groups_path, class:"fa fa-angle-double-left bg-light fa-2x" %>
  <% else %>
    <p></p>
  <% end %>
  <a class="navbar-brand" href="#"><%= @headername %></a>
  <div class="d-flex">
    <% if user_signed_in? %>
      <%= button_to "LogOut", destroy_user_session_path, { method: :delete, data: { turbo:false }}  %>
    <% end %>
  </div>
</nav>
