<nav class="navbar fixed-top navbar-dark bg-primary">
  <i class="fa fa-angle-double-left" style="font-size:48px;color:white"><%= link_to "xx", groups_path %></i>

  <a class="navbar-brand" href="#"><%= @headername %></a>
  <div class="d-flex">
    <% if user_signed_in? %>
      <a class="navbar-brand" href="#">Welcome, <%= @name %></a>
      <%= button_to "LogOut", destroy_user_session_path, { method: :delete, data: { turbo:false }}  %>
    <% end %>
  </div>
</nav>