
<div class="container ">
        <p class="align-self-center p-5"></p>
        <div class="d-flex justify-content-center p-5">
            <h1 class="align-self-center p-4">Budget Management App</h1>
        </div>
        <hr>
        <div class="justify-content-center p-5">
            <%= link_to "LOG IN", user_session_path, class:'btn btn-primary btn-lg btn-block' %>
            <%= link_to 'SIGN UP', new_user_registration_path, class:'btn btn-light btn-lg btn-block' %>
        </div>
</div>





