<div class=" container d-flex flex-column">
    <div class="align-self-center p-4">
        <h4>Created by <a href="https://www.linkedin.com/in/ben-kiboma/">Ben Kiboma</a></h4>
        <h4>Check my <a href="https://github.com/kiboma2021/">other projects</a></h4>
    </div>
    <hr>
    <div class="align-self-center p-4">
        <h1>Budget Management App</h1>
    </div>
    <hr>
    <div class="align-self-center p-4">
        <%= link_to 'LOG IN', 'user_session_path', class:'btn btn-primary btn-lg btn-block' %>
        <%= link_to 'SIGN UP', 'new_user_registration_path', class:'btn btn-primary btn-lg btn-block' %>
        <%= link_to 'SIGN UP', new_user_registration_path, class:'btn btn-primary btn-lg btn-block' %>
    </div>
</div>

